*{
    box-sizing:border-box;
}

body{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image:url("../images/background.jpg");
    margin:0;
    width:100%;
    height:100%;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.main {
    width: 960px;
    clear:both;
    padding:10px;
    margin-left:100px;
    background: #ffffff;
    margin-bottom:20px;
    border-color:#ddd;
    font-size:16px;
    line-height:24px;
}

.name{
    float: left;
    background: #4aaaa5;
    color:#ffffff;
    padding:5px;
    position:absolute;
    bottom:0;
}

.header{
    background: #ffffff;
    position:relative;
    padding:40px;
    min-width:960px;
    margin-bottom:20px;
    border-color:#ccc;
    width:100%;
}

.links{
    position:relative;
    left:66%;
    width:300px;
}

#link1{
    padding:10px;
    float:left;
}

#link2{
    padding:10px;
    float:left;
}

#link3{
    padding:10px;
    float:left;
}

#main{
    color:#4aaaa5;
    padding:10px;
}
.image {
    float:left;
    width: 200px;
    height: 200px;
    padding:10px;
}

footer {
    clear:both;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    width:100%;
}

.wrapper{
    min-height:100%;
    position:relative;
}

.form{
    width:100%;
}

.port{
    float:left;
    margin:10px;
    position:relative;
}

.porttext{
    background: #4aaaa5;
    color:#ffffff;
    padding:5px;
    position:absolute;
    padding:10px;
    width:180px;
    bottom:0;
    left:10px;
}

#port{
    height:550px;
}